*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background: #363a3b;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.container 
{
    position: relative;
    display: flex;
    gap: 50px;
}
.container .box 
{
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.container .box span
{
    position: absolute;
    width: 300px;
    height: 2px;
    background: var(--img);
    background-size: 300px;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
.container .box:hover span
{
    transform: translateX(var(--x))rotate(var(--r));
}